.general-info{
    height: 740px;
    background-color: #8a7055;
    color: white;
    font-size: 38px;
    .box-1{
        width: 800px;
        text-align: right;
        border-right: 1px solid white;
        border-bottom:  1px solid white;
    }
    .box-2{
        width: 680px;
        border-left: 1px solid white;
        border-bottom:  1px solid white;
    }
}